@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Inria+Sans&family=Luckiest+Guy&family=Inconsolata&family=Rowdies&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url(/images/bg-home1.png) !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}