# Ignore all .DS_Store files in any directory
services/devops/logging/secrets/vault-certs/*
**/.DS_Store
.DS_Store
docs/docker.md
docs/shell-commands.md
docs/cheetsheet.md
todo.md
# Node modules
# Vite build output
dist/
**/dist/
node_modules/
**/node_modules/
services/devops/traefik/certs/ft-transcendence.key
services/frontend/.vite
debugging-scripts/nots.md
node_modules
secrets/vault-certs
uploads
.vscode
*.sqlite